.login {
  &__container {
    display: flex;
    justify-content: center;
  }
  &__wrapper {
    width: 400px;
    background: $color-container;
    border-radius: 10px;
    overflow: hidden;
    padding: $spacing-xxl $spacing-xl $spacing-l;
    box-shadow: $shadow-around;
    @media screen and (max-width: $screen-xs) {
      padding: $spacing-xxl $spacing-s $spacing-l;
    }
  }

  &__title {
    display: block;
    font-size: $font-size-xl;
    font-weight: 600;
    color: $color-text;
    text-align: center;
  }

  &__icon {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    margin: $spacing-m 0;
    width: $spacing-xl;
    font-size: $font-size-xxl;
    color: $color-text;
  }
  &__footer {
    text-align: center;
    font-size: $font-size-xs;
  }
  &__input {
    display: block;
    width: 100%;
    background: transparent;
    font-size: $font-size-s;
    color: $color-text;
    height: $spacing-xl;
    padding: 0 $spacing-xxs;

    &:focus {
      + .login__input {
        &--focus::before {
          width: 100%;
        }
        &--focus::after {
          top: -15px;
        }
      }
    }
    &--filled {
      + .login__input {
        &--focus::before {
          width: 100%;
        }
        &--focus::after {
          top: -15px;
        }
      }
    }
    &--focus {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      pointer-events: none;
      &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 0;
        height: 2px;
        transition: all 0.4s;
        background: linear-gradient(
          to right,
          $color-primary-alt,
          $color-primary
        );
      }
      &::after {
        font-size: $font-size-s;
        color: $color-text-muted;
        content: attr(placeholder);
        width: 100%;
        position: absolute;
        top: $spacing-s;
        padding-left: $spacing-xxs;
        transition: all 0.4s;
      }
    }
  }
}

.input {
  &__wrapper {
    position: relative;
    border-bottom: 2px solid $color-text-muted;
    margin-bottom: $spacing-l;
  }
}
