.section {
  padding: $spacing-xxl 0 $spacing-l;
  margin: $spacing-xl;
  &__title {
    font-size: $font-size-l;
    color: $color-title;
    text-align: center;
    margin-bottom: $spacing-m;
  }
  &__height {
    height: 100vh;
  }
  @media screen and (min-width: $screen-s) {
    padding: $spacing-xxxl 0 $spacing-l;
  }
  @media screen and (max-width: $screen-xs) {
    padding: $spacing-l 0 $spacing-m;
  }
}

.container {
  max-width: $screen-m;
  margin-left: $spacing-s;
  margin-right: $spacing-s;
  @media screen and (min-width: $screen-l) {
    margin-left: auto;
    margin-right: auto;
  }
}

.page {
  display: flex;
  justify-content: center;
  &__wrapper {
    background: $color-container;
    border-radius: 10px;
    overflow: hidden;
    padding: $spacing-xxl $spacing-xl $spacing-l;
    box-shadow: $shadow-around;
    @media screen and (max-width: $screen-xs) {
      padding: $spacing-xl $spacing-s $spacing-l;
    }
  }
}

.button {
  cursor: pointer;
  font-size: $font-size-s;
  font-weight: 600;
  color: $color-body;
  text-transform: uppercase;
  width: 100%;
  height: $spacing-xl;
  &__wrapper {
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: $border-radius-half;
    overflow: hidden;
    margin-bottom: $spacing-m;
    &:hover {
      .button__background {
        left: 0;
      }
    }
  }
  &__background {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: linear-gradient(
      to right,
      $color-primary-alt,
      $color-primary,
      $color-primary-alt,
      $color-primary
    );
    top: 0;
    left: -100%;
    transition: all 0.4s;
  }
  &:disabled {
    cursor: default;
    background: $color-text-muted;
  }
}
